.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 0.2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.small {
  height: 0.5rem;
  width: 6rem;
  margin: 0.5rem;
  font-size: 0.8rem;
}

.medium {
  height: 1rem;
  width: 10rem;
  margin: 0.5rem;
  font-size: 1rem;
}

.big {
  height: 1.5rem;
  width: 10rem;
  margin: 0.5rem;
  font-size: 1.5rem;
}

.primary {
  background-color: var(--primary-colour);
  color: var(--white);
}

.primary:hover {
  background-color: var(--secondary-colour);
}

.secondary {
  background-color: var(--secondary-colour);
  color: var(--white);
}

.secondary:hover {
  background-color: var(--primary-colour);
}

.tagText {
  margin: 0rem;
}
