.descriptionContainer {
  width: 45vw;
  margin: 0.2rem;
  margin-top: var(--margin-space-small);
  padding: 1rem;
  overflow-wrap: break-word;
  font-size: 1rem;
  border-radius: 20px;
  text-align: left;
}
