.articleSummaryCard {
  margin: 0.2rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.summaryContainer {
  width: 45vw;
  height: 15vw;
  margin: 0.2rem;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.englishTitle {
  width: 25vw;
  margin: 0rem;
  text-align: left;
}

.date {
  width: 20vw;
  margin: 0rem;
  text-align: right;
}

.japaneseTitle {
  width: 45vw;
  margin: 0rem;
  text-align: left;
}

.summaryText {
  width: 40vw;
  margin: 0rem;
  text-align: left;
}

.tagContainer {
  width: 40vw;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}