.featuredSummaryCard {
  margin: 2rem;
  padding: 0.7rem;
  border-style: groove;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summaryContainer {
  width: 45vw;
  height: 15vw;
  margin: 0.8rem;
  padding: 1rem;
  border-style: dotted;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.englishTitle {
  width: 20vw;
  margin: 0rem;
  text-align: left;
}

.date {
  width: 20vw;
  margin: 0rem;
  text-align: right;
}

.japaneseTitle {
  width: 45vw;
  margin: 0rem;
  text-align: left;
}

.summaryText {
  width: 40vw;
  margin: 0rem;
  text-align: left;
}

.tagContainer {
  width: 40vw;
  margin: 0rem;
  display: flex;
}
