.heroImage {
  display: flex;
  justify-content: center;

  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.377)),
    url("https://cdn.midjourney.com/25d7984e-4d2f-492c-8700-4fdb1f1661c3/grid_0.png");
      
  height: 75vh;
  width: 100vw;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.titlesContainer {
  width: 75vw;
  margin: 0.2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heroTextContainer {
  justify-content: left;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50vw;
  background-color: var(--white);
  padding: 1rem;
}

.subtitleContainer {
  position: absolute;
  display: flex;
  width: 52.5vw;
  height: 70vh;
  margin: 0rem;
  justify-content: left;
  align-items: flex-end;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin: 0.2rem;
  padding: 0.5rem;
}
