.heroImage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.377)),
    url("https://cdn.midjourney.com/ee4bb48a-5c55-488a-ac7e-dbc5c49ca047/grid_0.png");

  height: 75vh;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 3px solid blue;
}

.titlesContainer {
  width: 75vw;
  height: 75vh;
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.heroTextContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 3px solid red;
  max-width: 50vw;
  align-self: center;
}

.subtitleContainer {
  display: flex;
  flex-direction: column;
  width: 75vw;
  border: 3px solid cyan;
  align-self: flex-end;
}
