:root {
  --primary-colour: #4f359b;
  --mid-colour: #585191;
  --light-colour: #918599;
  --secondary-colour: #7c1325;
  --white: #f8f7ff;

  --paragraph-text-size: 1rem;
  --subheading-text-size: 1.4rem;
  --heading-text-size: 2.2rem;
  --tags-text-size: 0.8rem;

  --margin-space-big: 4rem;
  --margin-space-mid: 3rem;
  --margin-space-small: 1.5rem;
}

body {
  margin: 0;
  /* font-family: "MS Gothic", sans-serif; */
  font-family: "Poppins", "DroidSerif", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2")
    format("woff2");
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "DroidSerif";
  src: url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2")
    format("truetype");
  unicode-range: U+3000-9FFF, U+ff??; /* Japanese glyphs */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
